<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1"/>
<title>User CRUD</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/app.js"></script>
<style>
a {
	cursor: pointer;
	background-color: lightblue;
}
</style>
</head>
<body>
	<div ng-controller="CakeCRUDCtrl" ng-init="getAllCakes()">
			<table>
				<tr>
					<td width="100">Title:</td>
					<td><input type="text" id="title" ng-model="cake.title" /></td>
				</tr>
				<tr>
					<td width="100">Description:</td>
					<td><input type="text" id="description" ng-model="cake.description" /></td>
				</tr>
				<tr>
					<td width="100">Image:</td>
					<td><input type="text" id="image" ng-model="cake.image" /></td>
				</tr>
			</table>
			<br /> <br /> 
			<button ng-click="addCake(cake.title,cake.description,cake.image)">Add Cake</button> 

		<br /> <br />
		<p style="color: green">{{message}}</p>
		<p style="color: red">{{errorMessage}}</p>

		<br />
		<br /> 
		<button ng-click="getAllCakes()">List all cakes</button><br /> 
		<br /> <br />
		<div>
		<table>
			<th>Title</th><th>Description</th><th>Image</th>		
  			<tr ng-repeat="cake in cakes">
    			<td>{{ cake.title }}</td>
    			<td>{{ cake.description }}</td>
    			<td>{{ cake.image }}</td>
  			</tr>
		</table>
		</div>
	</div>
</body>
</html>